<h2>Ajax</h2>
<%= form_for Message.new, remote: true do |f|%>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.submit "send", class: "btn btn-primary" %>
<%end%>


<h2>Websocket</h2>

<input type="text" id="message-input" placeholder="enter">

<ul id="messages-list">
<% @messages.each do |message| %>
  <%= render :partial => "message", :locals => { :message => message } %>
<% end %>
</ul>

<script>

  $("#message-input").on("keypress", function(evt){
    if ( evt.keyCode == 13  ) {
      App.messages.speak( evt.target.value )
    }
  })


</script>